<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>TJHSST Cloud Computing Home</title>
    

    <!--bootswatch theme: lux -->
    <script src="http://code.jquery.com/jquery-latest.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootswatch/4.3.1/lux/bootstrap.min.css">
    <link rel="stylesheet" href="../static/css/style.css">
    <link rel="icon" type="image/x-icon" href="static/imgs/tjhsst.jpg">
    <script>
    $(function(){
        $("#navbar").load("../nav");
        $("#dropdown").load("../dropdown");
    });
    </script>
</head>

<body>
    <div class="header">
          <h1 style="color:#EB5E28">TJ Cloud Computing Club</h1>
    </div>
    <div id="navbar"></div>
    <div class="content">
        <br><br>
        <h2>Lectures 2019-2020</h2>
        <br><br>
        <div id="dropdown"></div>
        <br><br>
        <div>
        <table class="table" style="width:100%">
            <thead>
                <tr>
                    <th>DATE</th>
                    <th>DESCRIPTION</th>
                    <th>DOWNLOAD PDF</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td style="text-align:center">March 6, 2020</td>
                    <td style="text-align:center">AWS Sumerian - Guest Lecture</td>
                    <td style="text-align:center"><a href="/cloudcomputing/lectures/19-20/Sumerian-Lecture.pdf" target="_blank">PDF</a></td>
                </tr>
                <tr>
                    <td style="text-align:center">February 28, 2020</td>
                    <td style="text-align:center">Lambda (Serverless) Functions</td>
                    <td style="text-align:center"><a href="/cloudcomputing/lectures/19-20/AWS_Lambda.pdf" target="_blank">PDF</a> | <a href="https://www.qwiklabs.com/focuses/10259?parent=catalog" target="_blank">Demo</a></a></td>
                </tr>
                <tr>
                    <td style="text-align:center">February 21, 2020</td>
                    <td style="text-align:center">NoSQL Databases</td>
                    <td style="text-align:center"><a href="/cloudcomputing/lectures/19-20/NoSQL_Databases.pdf" target="_blank">PDF</a> | <a href="https://www.qwiklabs.com/focuses/8551?parent=catalog" target="_blank">Demo</a></a></td>
                </tr>
                <tr>
                    <td style="text-align:center">February 7, 2020</td>
                    <td style="text-align:center">Cloud9</td>
                    <td style="text-align:center"><a href="/cloudcomputing/lectures/19-20/Cloud_9.pdf" target="_blank">PDF</a></td>
                </tr>
                <tr>
                    <td style="text-align:center">January 31, 2020</td>
                    <td style="text-align:center">Machine Learning</td>
                    <td style="text-align:center"><a href="/cloudcomputing/lectures/19-20/Machine_Learning.pdf" target="_blank">PDF</a></td>
                </tr>
                <tr>
                    <td style="text-align:center">January 24, 2020</td>
                    <td style="text-align:center">Virtual Private Cloud</td>
                    <td style="text-align:center"><a href="/cloudcomputing/lectures/19-20/Virtual_Private_Clouds.pdf" target="_blank">PDF</a></td>
                </tr>
                <tr>
                    <td style="text-align:center">January 17, 2020</td>
                    <td style="text-align:center">Cloud DNS</td>
                    <td style="text-align:center"><a href="/cloudcomputing/lectures/19-20/Cloud_DNS.pdf" target="_blank">PDF</a> | <a href="https://www.tinyurl.com/AWSDNSDemo">Demo</a></td>
                </tr>
                <tr>
                    <td style="text-align:center">January 10, 2020</td>
                    <td style="text-align:center">Virtual Machines</td>
                    <td style="text-align:center"><a href="/cloudcomputing/lectures/19-20/Virtual_Machines.pdf" target="_blank">PDF</a></td>
                </tr>
                <tr>
                    <td style="text-align:center">December 20, 2019</td>
                    <td style="text-align:center">Storage Basics</td>
                    <td style="text-align:center"><a href="/cloudcomputing/lectures/19-20/Storage.pdf" target="_blank">PDF</a> | <a href="/cloudcomputing/lectures/Cloud_Storage_Demo.pdf" target="_blank">Demo</a></td>
                </tr>
                <tr>
                    <td style="text-align:center">December 6, 2019</td>
                    <td style="text-align:center">Cloud Computing Club Overview</td>
                    <td style="text-align:center"><a href="/cloudcomputing/lectures/19-20/Cloud_Computing_Overview.pdf" target="_blank">PDF</a></td>
                </tr>
                <tr>
                    <td style="text-align:center">November 22, 2019</td>
                    <td style="text-align:center">Cloud Computing Club Intro</td>
                    <td style="text-align:center"><a target="_blank" href="/cloudcomputing/lectures/19-20/CCC_Intro2.pdf">PDF</a></td>
                </tr>
            </tbody>
        </table>
        </div>
        
        <h3><b><b><b>Contact Us</b></b></b></h3>
        <p>Any questions or concerns? Email us at <a href="mailto:tjcloudcomputingclub@gmail.com" style="color:#EB5E28">tjcloudcomputingclub@gmail.com</a>
            or check out our Facebook page: <a href="https://www.facebook.com/groups/1550824791714819/" target="_blank" style="color:#EB5E28">TJ Cloud Computing Club.</a></p>
        <br><br>
    </div>
</body>
