    <!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>TJHSST Cloud Computing About Page</title>
    
    <!--bootswatch theme: lux -->
    <script src="https://code.jquery.com/jquery-1.10.2.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootswatch/4.3.1/lux/bootstrap.min.css">
    <link rel="icon" type="image/x-icon" href="static/imgs/tjhsst.jpg">
    <link rel="stylesheet" href="static/css/style.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
    <script>
    $(function(){
        $("#navbar").load("nav");
    });
    </script>
</head>

<body style="width:100%;background:#CCC5B9;">
    <div class="header">
          <h1 style="color:#EB5E28">TJ Cloud Computing Club</h1>
    </div>
    <div id="navbar"></div>
    <div class="content">
        <br><br>
        <h3><b><b><b>About Cloud Computing Club</b></b></b></h3>
        <br><br>
        
        <h5><b><b><b>Description</b></b></b></h5>
        <p>
            TJHSST Cloud Computing Club is an 8th period club that educates high schoolers on the benefits of cloud 
            computing and how to take advantage of these benefits by comparing different public cloud providers such as 
            Amazon Web Services, Microsoft Azure, and Google Cloud. Every week, there are lectures for the usage on 
            different tools from these providers. We use AWS Educate, Azure for Education, and Qwiklabs/others 
            for Google Cloud to gain hands-on experience in cloud computing.
        </p>
        <br>
        <h5><b><b><b>Competitions/Guest Lectures</b></b></b></h5>
        <p>
            The Cloud Computing Club will often have competitions or other interactive components throughout the year 
            based on current topics. Near the end of the year, students will have the opportunity to lecture (guest lecture) 
            on interesting topics that have not been covered. Participation in competitions and guest lectures can enhance the
            learning experience for members.
        </p>
        
        <br>
        <h3><b><b><b>History of Cloud Computing</b></b></b></h3>
        <p>
            Cloud computing was popularized with Amazon.com releasing its Elastic Compute Cloud product
            in 2006. Jeff Bezos, CEO of Amazon, realized that many companies were paying for expensive
            infrastructure to handle loads they rarely recieved. On days like Black Friday and
            Christmas, Amazon had to beef up their servers or else they would crash and lose business.
            But what would happen with those extra servers the rest of the year? The Elastic Compute
            Cloud product answered that question and more and more companies are now realizing the
            benefit of the cloud and moving to it.
        </p>
        <br>
        <img src="static/imgs/aboutCloud.png" style="float: right; width:25%; padding:0% 0% 0% 0%"></img>
        
        <h3><b><b><b>Benefits of Cloud</b></b></b></h3>
        <ul>
            <li>Scalable - Cloud service offers scalability. Resource allocation and
                de-allocation is dynamically available to fit your exact needs instantly.</li>
            <li>Affordable - It saves on cost by reducing capital infrastructure.</li>
            <li>Mobility - It allows the user to access the application from anywhere on any machine.</li>
            <li>Simple - It simplifies the network and lets the client access the application without
                buying license for individual machine.</li>
            <li>Reliable - Storing data on the cloud is more reliable since it is not lost easily.</li>
            <li>Collaboration - Many people can access the same files at the same time no matter where they are.</li>
        </ul>
        <br>
        <h3><b><b><b>When Have You Used Cloud</b></b></b></h3>
        <ul>
            <li>Every time you go to almost any website</li>
            <li>Every time you use Google Drive</li>
            <li>Every time you buy anything online (Amazon etc)</li>
            <li>Every time you stream video or audio online</li>
            <li>Every time you use social media</li>
        </ul>
        <br>
        <h3><b><b><b>Contact Us</b></b></b></h3>
        <p>Any questions or concerns? Email us at <a href="mailto:tjcloudcomputingclub@gmail.com" style="color:#EB5E28">tjcloudcomputingclub@gmail.com</a>
            or check out our Facebook page: <a href="https://www.facebook.com/groups/1550824791714819/" target="_blank" style="color:#EB5E28">TJ Cloud Computing Club.</a></p>
        <br><br>
    </div>
    
</body>
