<!DOCTYPE html>
<html>
    <head>
        
    </head>
    <body>
        <dropdown>
            <div class="dropdown">
                <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Previous Lectures
                </button>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                    <a class="dropdown-item" href="/cloudcomputing/schedule/lectures">2022-2023</a>
                    <a class="dropdown-item" href="/cloudcomputing/schedule/lectures21-22">2021-2022</a>
                    <a class="dropdown-item" href="/cloudcomputing/schedule/lectures20-21">2020-2021</a>
                    <a class="dropdown-item" href="/cloudcomputing/schedule/lectures19-20">2019-2020</a>
                </div>
            </div>
        </dropdown>
    </body>
</html>
