<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>TJHSST Cloud Computing Home</title>
    
    <!--bootswatch theme: lux -->
    <script src="https://code.jquery.com/jquery-1.10.2.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootswatch/4.3.1/lux/bootstrap.min.css">
    <link rel="stylesheet" href="static/css/style.css">
    <link rel="icon" type="image/x-icon" href="static/imgs/tjhsst.jpg">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
    <script>
    $(function(){
        $("#navbar").load("nav");
    });
    </script>
</head>

<body style="width:100%;background:#CCC5B9;">
    <div class="header">
          <h1 style="color:#EB5E28">TJ Cloud Computing Club</h1>
    </div>
    <div id="navbar"></div>
    <div class="content">
        <br></br>
        <h2><b><b><b>Welcome to Cloud Computing Club</b></b></b></h2>
        <p>TJHSST Cloud Computing Club provides resources to educate, inspire, and introduce
            high schoolers to cloud computing.
        </p>
        <br>
        <h3><b><b><b>What is Cloud Computing?</b></b></b></h3>
        <p>The popular trend in today's technology driven world is ‘Cloud Computing’.
            Cloud computing is the on-demand delivery of compute power, database storage,
            applications, and other IT resources through a cloud services platform via the
            Internet with pay-as-you-go pricing. The term is generally used to describe
            data centers available to many users over the Internet. Large clouds, predominant
            today, often have functions distributed over multiple locations from central servers.
            To learn more about cloud computing, check it out <a href="/cloudcomputing/about">here.</a>
        </p>
        <br>
        
        
        <!--include tables for aws,azure,google cloud-->
        
        <h3><b><b><b>Officers</b></b></b></h3>
        <br>
        <div class="container" style="padding: -10%">
            <div class="card-deck">
                <div class="card mb-4 cardAbout">
                    <img src="static/imgs/JayImage.png" style="width:70%" class="avatar">
                    <h4 align="center" style="color:#FFFCF2;">Jay</h4>
                    <h4 align="center">Lalwani</h4>
                    <h6 align="center">President</h6>
                    <a href="https://github.com/jaylalwani72" target="_blank" class="button">GitHub</a>
                </div>
                <div class="card mb-4 cardAbout">
                    <img src="static/imgs/ZarifImage.jpg" style="width:70%" class="avatar">
                    <h4 align="center">Zarif</h4>
                    <h4 align="center">Azher</h4>
                    <h6 align="center">Vice President</h6>
                    <a href="https://github.com/zarif101" target="_blank" class="button">GitHub</a>
                </div>
                <div class="card mb-4 cardAbout">
                    <img src="static/imgs/RamImage.png" style="width:70%" class="avatar">
                    <h4 align="center">Ram</h4>
                    <h4 align="center">Reddy</h4>
                    <h6 align="center">Webmaster</h6>
                    <a href="https://github.com/ramnreddy15" target="_blank" class="button">GitHub</a>
                </div>
                <div class="card mb-4 cardAbout">
                    <img src="static/imgs/KedarImage.png" style="width:80%" class="avatar">
                    <h4 align="center">Kedar</h4>
                    <h4 align="center">Prasad</h4> 
                    <h6 align="center">Secretary</h6>
                    <a href="https://github.com/ksquaring" target="_blank" class="button">GitHub</a>
                </div>
                <div class="card mb-4 cardAbout">
                    <img src="static/imgs/RaedImage.jpg" style="width:70%" class="avatar">
                    <h4 align="center">Raed</h4>
                    <h4 align="center">Mirza</h4>
                    <h6 align="center">Treasurer</h6>
                    <a href="https://github.com/rfm0905" target="_blank" class="button">GitHub</a>
                </div>
            </div>
        </div>
        <br>
        <h3><b><b><b>Website Contributor</b></b></b></h3>
        <br>
        <div class="container" style="padding: -10%;">
            <div class="card-deck">
                <div class="card" style="background:#CCC5B9;border: none;">
                </div>
                <div class="card" style="background:#CCC5B9;border: none;">
                </div>
                <div class="card mb-4 cardAbout">
                    <img src="static/imgs/ConnorImage.jpg" style="width:70%" class="avatar">
                    <h4 align="center">Connor</h4>
                    <h4 align="center">Harris</h4>
                    <h6 align="center">Website Developer</h6>
                    <a href="https://github.com/CHarris0812" target="_blank" class="button">GitHub</a>
                </div>
                <div class="card" style="background:#CCC5B9;border: none;">
                </div>
                <div class="card" style="background:#CCC5B9;border: none;">
                </div>
            </div>
        </div>
        <br>
        
        <h3><b><b><b>Contact Us</b></b></b></h3>
        <p>Any questions or concerns? Email us at <a href="mailto:tjcloudcomputingclub@gmail.com" style="color:#EB5E28">tjcloudcomputingclub@gmail.com</a>
            or check out our Facebook page: <a href="https://www.facebook.com/groups/1550824791714819/" target="_blank" style="color:#EB5E28">TJ Cloud Computing Club.</a></p>
        <br><br>
    </div>
    </body>

