    <!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>TJHSST Cloud Computing Resources Page</title>
    
    <!--bootswatch theme: lux -->
    <script src="https://code.jquery.com/jquery-1.10.2.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootswatch/4.3.1/lux/bootstrap.min.css">
    <link rel="stylesheet" href="static/css/style.css">
    <link rel="icon" type="image/x-icon" href="static/imgs/tjhsst.jpg">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
    <script>
    $(function(){
        $("#navbar").load("nav");
    });
    </script>
</head>
<body style="width:100%;background:#CCC5B9;">
        <div class="header">
              <h1 style="color:#EB5E28">TJ Cloud Computing Club</h1>
        </div>
        <div id="navbar"></div>
        <div class="content">
            <br></br>
            <h3><b><b><b>Resources</b></b></b></h3>
            <div class="container">
                <div class="card-deck">
                    
                    <div class="card text-white bg-dark mb-3">
                        <div class="card-header">TJ Computer Science Lab</div>
                        <a href="https://guides.tjhsst.edu/" target = "_blank"><img src="static/imgs/csl.png" style="width:80%;margin=100px"></a>
                        <p class="card-body">The TJ Computer Science Lab is the inhouse lab that has multiple clusters, 
                        workstations and other services students can use. The best machine has 6 Quadro RTX 8000 cards 
                        and a server grade Intel proccessor. More info to use these resources can be found in the link above.</p>
                    </div>
                    
                    <div class="card text-white bg-dark mb-3">
                        <div class="card-header">Amazon Web Services</div>
                        <a href="https://aws.amazon.com/" target = "_blank"><img src="static/imgs/awsWhiteSquare.png" style="width:80%;margin=100px"></a>
                        <p class="card-body">Amazon Web Services (AWS) is the world’s most comprehensive
                            and broadly adopted cloud platform (Netflix/Facebook), offering over 165 fully
                            featured services from data centers globally.</p>
                    </div>
                    
                    
                    <div class="card bg-light mb-3">
                        <div class="card-header">Google Cloud</div>
                        <a href="http://cloud.google.com/" target = "_blank"><img src="static/imgs/GCPSquare.png" style="width:80%"></a>
                        <p class="card-body">Google’s cloud platform provides a reliable and highly scalable
                            infrastructure for developers to build, test and deploy apps. It covers application,
                            storage and computing services for backend, and other solutions.</p>
                    </div>
                  
                    
                    <div class="card text-white bg-info mb-3">
                        <div class="card-header">Microsoft Azure</div>
                        <a href="https://azure.microsoft.com/en-us/" target = "_blank"><img src="static/imgs/azureSquare.png" style="width:80%"></a>
                        <p class="card-body">Microsoft Azure is an ever-expanding set of cloud services to
                             help your organization meet your business challenges. Azure is the only consistent
                             hybrid cloud and has more regions than any cloud provider.</p>
                    </div>
                </div>
            </div>
            
           <h3><b><b><b>Contact Us</b></b></b></h3>
            <p>Any questions or concerns? Email us at <a href="mailto:tjcloudcomputingclub@gmail.com" style="color:#EB5E28">tjcloudcomputingclub@gmail.com</a>
                or check out our Facebook page: <a href="https://www.facebook.com/groups/1550824791714819/" target="_blank" style="color:#EB5E28">TJ Cloud Computing Club.</a></p>
            <br><br>
        </div>
</body>